@use '../../styles/vars';

.list{
  background-color: vars.$background-color;
  box-shadow: 0px 0px 3px 0px vars.$shadow-color;
  margin: 0 vars.$gutter (vars.$gutter * 2) vars.$gutter;
  padding: vars.$gutter;
  width: calc(100% - #{vars.$gutter * 2});
  border-top: 4px solid; 
  border-radius: vars.$border-radius-small;
  height: min-content;

  .list__title{
    font-size: vars.$font-size-title2;
  }
}
.list--todo{
  border-color: vars.$fisrt-color;
}
.list--in-progress{
  border-color: vars.$third-color;
}
.list--to-test{
  border-color: vars.$fourth-color;
}
.list--finished{
  border-color: vars.$seventh-color;
}

@media (min-width: vars.$breakpoint-mobile) {
  .list{
    width: calc(50% - #{vars.$gutter * 2});
  }
}

@media (min-width: vars.$breakpoint-tablet) {
  .list{
    width: calc(25% - #{vars.$gutter * 2});
  }
}
