@use '../../styles/vars';

.card{
  background-color: vars.$light-color;
  border-radius: 5px;
  padding: vars.$gutter;
  margin-top: vars.$gutter;

  .card__priority{
    border-radius: 5px;
    color: vars.$light-color;
    padding: vars.$gutter / 3;
    font-size: vars.$font-size-small;
  }
  .card__priority--hight{
    background: linear-gradient(to left, vars.$fisrt-color, vars.$second-color);
  }
  .card__priority--medium{
    background: linear-gradient(to left, vars.$sixth-color, vars.$seventh-color);
  }
  .card__priority--low{
    background: linear-gradient(to left, vars.$fourth-color, vars.$fifth-color);
  }
  .card__title{
    font-size: vars.$font-size-title3;
    margin: vars.$gutter 0 (vars.$gutter / 2) 0;
  }
  .card__assignment{
    text-align: right;

    .card__assignment__img{
      border-radius: 100%;
      width: 35px;
      height: 35px;
    }
  }
}
