@use '../../styles/vars';

.card{
  background-color: vars.$light-color;
  border-radius: vars.$border-radius-small;
  padding: vars.$gutter;
  margin-top: vars.$gutter;

  .card__priority{
    border-radius: vars.$border-radius-small;
    color: vars.$light-color;
    padding: vars.$gutter / 3;
    font-size: vars.$font-size-small;
    text-transform: uppercase;
  }
  .card__priority--haute{
    background: linear-gradient(to left, vars.$fisrt-color, vars.$second-color);
  }
  .card__priority--normale{
    background: linear-gradient(to left, vars.$sixth-color, vars.$seventh-color);
  }
  .card__priority--basse{
    background: linear-gradient(to left, vars.$fourth-color, vars.$fifth-color);
  }
  .card__title{
    font-size: vars.$font-size-title3;
    margin: vars.$gutter 0 (vars.$gutter / 2) 0;
  }
  .card__assignment{
    text-align: right;

    .card__assignment__img{
      border-radius: vars.$border-radius-max;
      width: 35px;
      height: 35px;
    }
  }
}
